.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.home-image {
  height: 60%;
  width: 30%;
  margin: 10px;
}
.home-heading {
  font-family: 'Roboto';
  color: #6d396b;
  padding: 5px;
  text-align: center;
}
