.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.app-logo-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app-logo {
  height: 50px;
  width: 50px;
  padding: 5px;
}
.app-name {
  font-size: 20px;
  padding: 5px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #12022f;
  align-self: stretch;
  width: 95%;
}
.app-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-link {
  font-size: 20px;
  padding: 5px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #12022f;
  text-decoration: none;
}
